.pagination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.buttonBlock {
    margin-bottom: 20px;
}

.pageBlock {
    display: flex;
    align-items: center;
    height: 45px;
}

.currentNumber {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin: 12px 0;
}

.page {
    font-weight: 800;
    display: inline-block;
    width: 45px;
    height: 45px;
    padding: 10px 0;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
    line-height: 1;
    background-color: var(--white);
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    color: var(--dark);
    &:first-child{
        margin-left: 0;
    }
    &:last-child{
        margin-right: 0;
    }
}

.disabledPage {
    cursor: default;
    color:rgba(79, 98, 108, .3);
}

.selectPage {
    color: var(--white);
    display: inline-block;
    font-weight: 700;
    background-color: var(--primary_half-medium);
    border: 2px solid var(--primary);
    cursor: default;
}

.button {
    color: #fff;
    font-size: 14px;
    background-color: rgb(79, 98, 108);
    padding: 3px;
    margin: 0 10px;
    border-radius: 8px;
    white-space: nowrap;
    &:hover {
        background-color: rgb(79, 98, 108);
        color: #fff;
        text-shadow: #fff 0 0 4px;
        box-shadow:rgb(79, 98, 108) 0 0 5px;
    }
    &:disabled {
        background-color: #555;
        text-shadow: none;
        box-shadow: none;
        cursor: auto;
    }
}
